{% extends "main.html" %}

{% block title %} Welcome to item catalog app {% endblock %}

  <!-- Page Content -->
  {% block content %}

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group">
          {% for category in categories %}
            <a href="#" data-buttoncategory="{{ category.name }}" class="list-group-item active category-button">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Items
          </div>
          <div class="card-body">
            {% for item in items %}
              <div class="item-card" data-itemcategory="{{ item.category.name }}">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <small class="text-muted">Posted by {{ item.created_by }} on {{ item.created_on.strftime("%d %b %Y %I:%M %p")  }}</small>
                <hr>
              </div>
            {% endfor %}
            <a href="#" class="btn btn-success">Create an item</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
  {% endblock %}

  {% block js%}
    <script type="text/javascript">
      $(document).ready(function(){
            var active_category = $("a.active").data();
            var items = $(".item-card");
            items.each(function( index ) {
              if($(this).data().itemcategory != active_category.buttoncategory){
                $(this).hide()
              }
            });


            $(".category-button").click(function() {
                var button_category = $(".category-button").data();
                var items = $(".item-card");
                items.each(function( index ) {
                  if($(this).data().itemcategory != button_category.buttoncategory){
                    $(this).hide()
                  }
                  });
                });
      });
    </script>
  {% endblock %}
