{% extends "main.html" %}

{% block title %} Welcome to item catalog app {% endblock %}

  <!-- Page Content -->
  {% block content %}

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group">
          {% for category in categories %}
            <a onclick='categoryItems("{{ category.name }}", this.id)' href="#" id="{{ category.name }}" class="list-group-item category-button">{{ category.name }}</a>
          {% endfor %}
          <a href="#" class="btn btn-success">Create new category</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Items
          </div>
          <div class="card-body">
            {% for item in items %}
              <div class="item-card" id="item-{{ item.category.name }}">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <small class="text-muted">Posted by {{ item.created_by.username }} on {{ item.created_on.strftime("%d %b %Y %I:%M %p")  }}</small>
                <a href='{{ url_for("item_edit",item_name=item.name) }}' class="btn btn-info">Edit</a>
                <a href='{{ url_for("item_delete",item_name="{{ item.name }}") }}' class="btn btn-warning">Delete</a>
                <hr>
              </div>
            {% endfor %}
            <a href='{{ url_for("item_new")}}' class="btn btn-success">Create new item</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
  {% endblock %}

  {% block js%}
    <script type="text/javascript">
      function categoryItems(id,clicked_id) {
        var items = $(".item-card");
        items.each(function() {
          $('.category-button').removeClass("active")
          $("#"+clicked_id).addClass("active");
          if($(this).attr('id').replace('item-','').toString() != id.toString()){
            $(this).hide()
          }
          else{
            $(this).show()
          }
        });
      }
    </script>
  {% endblock %}
