{% extends "main.html" %}

{% block title %} | Create New Item {% endblock %}

<!-- Page Content -->
{% block content %}

<form action="{{ url_for("item_new")}}" method="POST">
  <label>Item Name: </label>
  <input name="item_name" type="text" required>
  <br>
  <label>Item Description: </label>
  <textarea name="item_description" rows="4" cols="50" required>
  </textarea>
  <br>
  <label>Item Category: </label>
  <select name="item_category">
    {% for category in categories %}
      <option value="{{ category.name }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <br>
  <input type="submit" value="Submit" class="btn btn-warning">
</form>

{% endblock %}
