{% extends "main.html" %}

{% block title %} | Login {% endblock %}

<!-- Page Content -->
{% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div class=flashes>
    {% for error in errors %}
      <span class="alert alert-danger">{{ error }}</span>
      <br>
      <br>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="wrapper fadeInDown">
  <div id="login-form">
    <!-- Login Form -->
    <form method="POST" action="/login">
      <label>Username: </label>
      <input type="text" id="username" name="username" placeholder="example: johndoe" required>
      <br>
      <label>Password: </label>
      <input type="password" id="password" name="password" placeholder="" required>
      <br>
      <input type="submit" class="btn btn-warning" value="Log In">
      <br>
    </form>
  </div>
</div>

{% endblock %}
