{% extends "main.html" %}

{% block title %} | Register {% endblock %}

<!-- Page Content -->
{% block content %}

<div class="wrapper fadeInDown">
  <div id="registrationForm">
    <!-- Login Form -->
    <form style="margin-top: -80px;" method="POST" action="{{ url_for('register') }}">
      <label>Username: </label>
      <input type="text" id="username" name="username" placeholder="username" required>
      <br>
      <br>
      <label>Email: </label>
      <input style="margin-left:50px" type="text" id="email" name="email" placeholder="email" required>
      <br>
      <br>
      <label>FirstName: </label>
      <input type="text" id="firstname" name="firstname" placeholder="firstname" required>
      <br>
      <br>
      <label>LastName: </label>
      <input type="text" id="lastname" name="lastname" placeholder="lastname" required>
      <br>
      <br>
      <label>Password: </label>
      <input type="password" id="password" name="password" placeholder="password" required>
      <br>
      <br>
      <input type="submit" class="btn btn-warning" value="Register">
    </form>

  </div>
</div>

{% endblock %}
